h1 {
  position: absolute;
  top: 8%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  font-size: 50px;
}
h2 {
  text-align: center;
  background-color: #4d4d4d;
  color: white;
  font-size: 40px;
}

p {
  position: absolute;
  top:35%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  font-size: 20px;
}

.dogs {
  background-color: #FFFFFF;
  color: black;
  padding: 10px 22px;
  text-align: center;
  text-decoration: none;
  font-size: 20px;
	font-family: serif;
  margin: 4px 2px;
  cursor: pointer;
	position: absolute;
  top: 40%;
  left: 15%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.safari {
  background-color: #FFFFFF;
  color: black;
  padding: 10px 22px;
  text-align: center;
  text-decoration: none;
  font-size: 20px;
	font-family: serif;
  margin: 4px 2px;
  cursor: pointer;
	position: absolute;
  top: 40%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.sea {
  background-color: #FFFFFF;
  color: black;
  padding: 10px 22px;
  text-align: center;
  text-decoration: none;
  font-size: 20px;
	font-family: serif;
  margin: 4px 2px;
  cursor: pointer;
	position: absolute;
  top: 40%;
  left: 85%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.home {
  background-color: #FFFFFF;
  color: black;
  padding: 10px 22px;
  text-align: center;
  text-decoration: none;
  font-size: 20px;
	font-family: serif;
  margin: 4px 2px;
  cursor: pointer;
	position: absolute;
  top: 6%;
  left: 94%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.facts {
  background-color: #FFFFFF;
  color: black;
  padding: 10px 12px;
  text-align: center;
  text-decoration: none;
  font-size: 25px;
	font-family: serif;
  margin: 4px 2px;
  cursor: pointer;
	position: absolute;
  top: 16%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.endScore {
  background-color: #FFFFFF;
  color: black;
  padding: 10px 12px;
  text-align: center;
  text-decoration: none;
  font-size: 25px;
	font-family: serif;
  margin: 4px 2px;
  cursor: pointer;
	position: absolute;
  top: 26%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.score {
  background-color: #FFFFFF;
  color: black;
  padding: 8px 18px;
  text-align: center;
  text-decoration: none;
  font-size: 20px;
	font-family: serif;
  margin: 4px 2px;
  cursor: pointer;
	position: absolute;
  top: 15%;
  left: 92%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.play {
  background-color: #FFFFFF;
  color: black;
  padding: 10px 22px;
  text-align: center;
  text-decoration: none;
  font-size: 20px;
	font-family: serif;
  margin: 4px 2px;
  cursor: pointer;
	position: absolute;
  top: 60%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.instructions {
  background-color: #FFFFFF;
  color: black;
  padding: 10px 22px;
  text-align: center;
  text-decoration: none;
  font-size: 20px;
	font-family: serif;
  margin: 4px 2px;
  cursor: pointer;
	position: absolute;
  top: 45%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.fish {
  width: 250px;
	height: 200px;
	position: absolute;
	top: 10%;
	left: 5%;
  transform: rotate(-30deg);
}

.monkey {
  width: 280px;
	height: 250px;
	position: absolute;
	top: 50%;
	left: 10%;
}

.ele {
  width: 300px;
	height: 250px;
	position: absolute;
	top: 60%;
	left: 60%;
}

.birds {
  width: 300px;
	height: 250px;
	position: absolute;
	top: 10%;
	left: 70%;
}

.dc {
  width: 280px;
	height: 250px;
	position: absolute;
	top: 50%;
	left: 5%;
}


.saf {
  width: 280px;
	height: 250px;
	position: absolute;
	top: 50%;
	left: 38.8%;
}

.coral {
  width: 280px;
	height: 250px;
	position: absolute;
	top: 50%;
	left: 73%;
}

.r1c1 {
  width: 180px;
	height: 150px;
	position: absolute;
	top: 25%;
	left: 10%;
  border: 5px solid #555;
}
.r1c2 {
  width: 180px;
	height: 150px;
	position: absolute;
	top: 25%;
	left: 32%;
  border: 5px solid #555;
}
.r1c3 {
  width: 180px;
	height: 150px;
	position: absolute;
	top: 25%;
	left: 54%;
  border: 5px solid #555;
}
.r1c4 {
  width: 180px;
	height: 150px;
	position: absolute;
	top: 25%;
	right: 10%;
  border: 5px solid #555;
}

.r2c1 {
  width: 180px;
	height: 150px;
	position: absolute;
	top: 50%;
	left: 10%;
  border: 5px solid #555;
}

.r2c2 {
  width: 180px;
	height: 150px;
	position: absolute;
	top: 50%;
	left: 32%;
  border: 5px solid #555;
}

.r2c3 {
  width: 180px;
	height: 150px;
	position: absolute;
	top: 50%;
	left: 54%;
  border: 5px solid #555;
}

.r2c4 {
  width: 180px;
	height: 150px;
	position: absolute;
	top: 50%;
	right: 10%;
  border: 5px solid #555;
}

.r3c1 {
  width: 180px;
	height: 150px;
	position: absolute;
	top: 75%;
	left: 10%;
  border: 5px solid #555;
}

.r3c2 {
  width: 180px;
	height: 150px;
	position: absolute;
	top: 75%;
	left: 32%;
  border: 5px solid #555;
}

.r3c3 {
  width: 180px;
	height: 150px;
	position: absolute;
	top: 75%;
	left: 54%;
  border: 5px solid #555;
}

.r3c4 {
  width: 180px;
	height: 150px;
	position: absolute;
	top: 75%;
	right: 10%;
  border: 5px solid #555;
}
